@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* todo */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/pexels-instawalli-176851.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    color: $colorfondo;

}
/* todo */