@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* todo */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/pexels-instawalli-176851.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
}
/* todo */

/* header */
header {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    padding: 20px;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: white;
    font-size: 18px;
    margin-left: 20px;
}
/* header */

/* main */ 
main {
    padding-top: 100px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
    color: white;
}

.list-group {
    margin-top: 30px;
}

.list-group-item {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
}

.list-group-item a {
    color: white;
    text-decoration: none;
}
/* main */ 

/* footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}


.redes a {
    display: inline-block;
    margin-right: 10px;
    color: white;
    font-size: 24px;
}
/* footer */